{{ define "main" }}
<style>
.app-header {
    background-size: 100%;
    background-position: center 35%;
    filter: grayscale(50%);
    padding-top: 50px;
    min-height: 200px;
    background-image:
    linear-gradient(to bottom, rgba(20, 20, 20, 0.616), rgba(3, 3, 3, 0.73)),
    url('/images/team.jpg');
    opacity: 0.8;
    border-width: 10px;
    border-bottom-width:10px;
    border-bottom-color:gray;
    border-bottom-style: solid;
}

.rounded {
  border-radius: 0.25rem !important;
}
.journal {
  color : #2693ff !important;
  font-weight: bold;
}
.blue-text{
    color: #2693ff !important;
}

.p-4 {
    padding: 1.5rem!important;
}


/* li.timeline-item {
  margin: 20px 0;
} */
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
#_awards p {
  margin-top: -2px;
}
.bg-white {
  background-color: #fff !important;
}

li::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: 7px;
  background-color: white;
  border: 3px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
ul {list-style:none;
}
.remove-space{
  display: none; 
}

.li::before{
  content: attr(dt-date);
  color: black;
}

.event_date{
  position: absolute;
}

.rect-bg{
 background-color: #28a745!important ; 
 padding : 3px 5px;
 color:white;
}

ul > li:nth-child(odd) div.event_date {left: -8em;}
ul > li:nth-child(even) div.event_date {right:-6em;}
@media only screen and (max-width: 540px) {

  ul > li:nth-child(odd) div.event_date {left: 0;}
ul > li:nth-child(even) div.event_date {right: 0;}
.timeline-item::after, .timeline-item.right::after {
   left: -26px;
;
}
.event_date{
  position: relative;
  margin-top: -1em !important;
}
.timeline::after {
    left: 0;
}
.h5,p{
  margin-top: 0 !important
}

}
</style>

<section class="main-content">
  
    <div class="bootstrap-wrapper">
      <br>
      <br>
      <br>
      <center>
        <h1>Satellite Projects</h1>
        <p>We work with a number of projects to advance research and make neuroimaging more accessible to everyone through <a href="http://brainlife.io">brainlife.io.</a></p>
      </center>
      <br>

      <div class="container">
        <div class="row">
          <ul class="timeline" id = "_awards">
            {{ range .Pages  }}
            <li class="timeline-item bg-white rounded ml-3 p-4" dt-date = {{.Params.startDate}} data-event-date= "{{.Params.startDate}} ">
              <div class="event_date blue-text">
                {{.Params.startDate}}
              </div>
              <h2 class="h5">{{.Title}}</h2><p>{{.Params.piFirstName}} {{.Params.piLastName}} {{if .Params.coPDPI}} , {{delimit .Params.coPDPI ", "}} {{ end }}</p>
              <p class="journal bold">FUNDING : <span class="rect-bg">{{.Params.agency}}</span></p>
            
              {{if .Params.external_url}}
              <a href="{{.Params.external_url}}" class="btn btn-gray">Learn More</a>
            </li>
              {{end}}
              {{end}}
          </ul>

        </div>
      </div>
     
    </div>

   
     

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/tinysort/3.2.5/tinysort.js"></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>

    <script type="text/javascript">
      function getFormattedDate(date) {
        var year = date.getFullYear();

        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : '0' + month;

        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        
        return month + '/' + day + '/' + year;
      }

    function generateAwards(startDate,endDate,pi,copi,title,url){
      var olddate = startDate
      const D = new Date(startDate);// {object Date}
      startDate = getFormattedDate(D);
    content = '<li class="timeline-item bg-white rounded ml-3 p-4 shadow" data-event-date = "'+D+'""><div class="timeline-arrow"></div><p><span class="blue-text">'+startDate +'</span></p><h2 class="h5">'+title+'</h2><p>'+pi+' ,'+copi+'</p> <p class="journal bold"><br><span><a href='+title+'><span class="badge badge-pill badge-info">'+'</a></span></p> <a href="'+url+'" class="btn btn-gray">Learn More</a></li>';
    document.getElementById('_awards').innerHTML += content;
    
    }
    const CORS_PROXY = "https://cors-anywhere.herokuapp.com/"


    var ready = (callback) => {
  if (document.readyState != "loading") callback();
  else document.addEventListener("DOMContentLoaded", callback);
}

ready(() => { 
  /* Do things after DOM has fully loaded */ 


    var container = document.querySelector(".timeline");;
    var items = document.querySelectorAll('.timeline-item');
    
    items.forEach(
      item=> {
        let BCDATE = item.getAttribute("dt-date");
        var standardDate = new Date(BCDATE).getTime();
        item.setAttribute("data-event-date", standardDate);
       }
    )

    var ab = 0;
    Array.from(items).sort( function(a,b){
        a = parseFloat(a.getAttribute("data-event-date"));
        b = parseFloat(b.getAttribute("data-event-date"));
        return a>b ? -1 : a<b ? 1 : 0;
    }).forEach(list =>{
      if(ab %2 == 0){
        ab+=1;
        list.classList.add("right");
        container.append(list);
      }else{
        ab+=1;
        list.classList.add("left");
        container.append(list);
      }
    });
    
});

</script>

    {{end}}
