[submodule "themes/hugo-product-launch"]
	path = themes/hugo-product-launch
	url = https://github.com/janraasch/hugo-product-launch.git
[submodule "hugo-theme-lean-launch-page"]
	path = hugo-theme-lean-launch-page
	url = git@github.com:felicianotech/hugo-theme-lean-launch-page.git
[submodule "themes/onedly"]
	path = themes/onedly
	url = https://github.com/cdeck3r/OneDly-Theme.git
