
.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #006E51;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .timeline-item {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }
  
  .timeline-item {
    left: 0;
  }
  
  .timeline-item.right {
    left: 50%;
  }
  
  /* .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #006E51;
    border-radius: 16px;
    z-index: 1;
  } */
  
  .timeline-item.right::after {
    left: -26px;  }
/*   
  .timeline-item::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #006E51;
    z-index: 1;
  } */
  
  .timeline-item.right::before {
    left: 8px;
  }
  
  .timeline-item .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #006E51;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }
  
  .timeline-item .date {
    right: -75px;
  }
  
  .timeline-item.right .date {
    left: -75px;
  }
  
  .timeline-item .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #F6D155;
    border: 2px solid #006E51;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: #006E51;
    z-index: 1;
  }
  
  .timeline-item .icon {
    right: 56px;
  }
  
  .timeline-item.right .icon {
    left: 56px;
  }
  
  .timeline-item .content {
    padding: 30px 90px 30px 30px;
    background: #F6D155;
    position: relative;
    border-radius: 0 500px 500px 0;
  }
  
  .timeline-item.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
  
  .timeline-item .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #006E51;
  }
  
  .timeline-item .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  
  @media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
  
    .timeline-item {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .timeline-item.right {
      left: 0%;
    }
  
    .timeline-item::after, 
    .timeline-item.right::after {
      left: 82px;
    }
  
    .timeline-item::before,
    .timeline-item.right::before {
      left: 100px;
      border-color: transparent #006E51 transparent transparent;
    }
  
    .timeline-item .date,
    .timeline-item.right .date {
      right: auto;
      left: 15px;
    }
  
    .timeline-item .icon,
    .timeline-item.right .icon {
      right: auto;
      left: 146px;
    }
  
    .timeline-item .content,
    .timeline-item.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }
  }

  ul li::marker {
    font-size: 150%;
    background: #ffffff;
    border: 2px solid #006E51;
    border-radius: 16px;
  }