
<div id="main-content" class="landing_about">
    <div>
    <center style="padding: 2rem; line-height: 200%;">
        <h2 style="color: gray; font-size: 150%">Free cloud platform for secure neuroscience data analysis.</h2>
    </center>
    <p><br></p>

    <div class="row" style="font-size: 85%;">
        <div class="col-sm-4 col-md-4 headlink">
            <a href="/apps">
                <center>
                    <img src="images/screenshots/apps.png" class="screenshot" />
                    <h3><b>Code</b></h3>
                    <p>Share your analyses by registering a GitHub repository as an <b>App</b>. Apps can be publicly shared and executed on the several cloud computing platforms.</p>
                </center>
            </a>
          </div>
          <div class="col-sm-4 col-md-4 headlink">
            <a href="/docs/user/process/">
                <center>
                    <img src="images/screenshots/datasets.png" class="screenshot" />
                    <h3><b>Data</b></h3>
                    <p>Share your neuroimaging data publicly or privately. Data on brainlife.io is organized as <b>Datatypes</b> to allow interoperability between Apps.</p>
                </center>
            </a>
        </div>
          <div class="col-sm-4 cold-md-4 headlink">
            <a href="/pubs">
                <center>
                    <img src="images/screenshots/resources.png" class="screenshot" />
                    <h3><b>Computing</b></h3>
                    <p>Share your <b>Computing Resources</b> on brainlife.io to accelerate scientific discovery and increase resources utilization.</p>
                </center>
            </a>
        </div>
    </div>
    </div>
</div>

<div class="colorback lightgrayback" style="position: relative; margin-top: 150px;">
    <div class="centerimage">
            <img src="images/logo.png" style="opacity: 0.8;"/>
    </div>
    <center style="padding: 2rem; line-height: 200%;">
        <h2 style="color: gray; font-size: 150%">How does it work?</h2>
    </center>   
    <br>
    <div class="row">
        <div class="col-6">
            <iframe class="screenshot floatleft"
            width="448" height="252" src="https://www.youtube.com/embed/86CbNUrkd8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        </div>
        <div class="col-6" >
            <h3 class="sc-heading"><b><i class="fas fa-shield-alt"></i> Projects</b></h3>
            <p><a href="/projects">Projects</a> allow you to manage data, processing and results. Share Projects privately with collaborators or publicly with the brainlife.io community.</p>
            <p>Brainlife.io maps data files to registered <a href="https://brainlife.io/docs/user/datatypes/">Datatypes</a>, allowing Apps to interoperate.</p>
            <p>Data can be uploaded using a web browser or the <a href="https://brainlife.io/docs/cli/install/">Brainlife CLI</a> for bulk upload compatible with the BIDS standard.</p>    
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <iframe class="screenshot floatleft"
        width="448" height="252" src="https://www.youtube.com/embed/u9Qlh0-iaAk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
        <div class="col-6">
            <h3 class="sc-heading"><b><i class="fas fa-paper-plane"></i> Apps</b></h3>
            <p>See <a href="/apps">Apps</a> for publicly registered brainlife.io Apps. 
            Use <span style="font-weight: bold;">Process</span> page to store stage input datasets and data derivatives generated by running the Apps.</p>
            <p>Brainlife Apps are small, modular and composable. This allows users to experiment flexibly by buidling personalized pipelines one step at a time.</p>
            </div>

    </div>
    <div class="row">
        <div class="col-6">
            <iframe class="screenshot floatleft"
            width="448" height="252" src="https://www.youtube.com/embed/Ewy3ahCVUzw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        <div class="col-6">
            <h3 class="sc-heading"><b><i class="fas fa-eye"></i> Bulk Processing</b></h3>
        <p>Our unique analyses management mechanism (<a href="https://brainlife.io/docs/user/pipeline/">pipeline</a>) allows easy submission and monitoring of thousands of processes.</p>
        <p>Brainlife.io processes each subject independently. This leads to high scalability, and makes Brainlife.io Big Data ready.</p>
    </div>

    </div>
    <div class="row">
        <div class="col-6">
            <iframe class="screenshot floatleft"
            width="448" height="252" src="https://www.youtube.com/embed/H21eKZDJYxg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
        <div class="col-6">
            <h3 class="sc-heading"><b><i class="fas fa-eye"></i> Data Visualization</b></h3>
            <p>Each <a href="https://brainlife.io/datatypes">datatype</a> provides a set of visualization tools. We support both web based and native visualizers, such as fsleyes, freeview, that are streamed directly from our GPU enabled VMs.</p>
             <p>If you are a developer of a visualization tool, brainlife.io can bring your tool alive by allowing users to launch it on any dataset
              hosted on the platform. <!--<a href="https://brainlife.io/docs/user/started/#visualize-dataset">more</a>--></p>
          </div>

    </div>

    <div class="row">
        <div class="col-6">
            <div  class="floatleft">
                <a  href="https://brainlife.io/docs/user/started/#datasets">
                    <img src="images/screenshots/provenance.png" width="100%" class="screenshot"/>
                </a>
            </div>
        </div>    
        <div class="col-6">
            <h3 class="sc-heading"><b><i class="fas fa-project-diagram"></i> Data Provenance</b></h3>
            <p>Brainlife.io keeps track of the history of each dataset. It preserves input and output data files, Apps version and configuration parameters
                as well as the computer resource used to generate the dataset.</p> 
            <p>You can count on brainlife.io to make sure your scientific results are reproducible.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-6">
            <div  class="floatleft">
                <a   href="https://brainlife.io/docs/user/publication/">
                    <img src="images/screenshots/publication.png" width="100%" class="screenshot"/>
                </a>
            </div>
        </div>  
        <div class="col-6">
            <h3 class="sc-heading"><b><i class="fas fa-newspaper"></i> Publications</b></h3>
            <p>You can automatically create a single record preserving Apps and Data referenced by a unique DOI.</p>
            <p>Brainlife.io publications are archived securely on a geographically-redundant tape system for long term preservation.</p>
        </div>

    </div>
</div>