<br>
<br>
<h1 class = "landing-everyone-heading"><center>Brainlife is for everyone!</center></h1>

<br>
<p class = "heading-quote">
    Brainlife reaches out beyond neuroscience experts. We've made sure that our UI and Apps 
    can be used by non-neuroscentists by providing detailed information about each App with good default parameters that should work 
    across a wide range of input datasets.
</p>
<br>

<table class="layout-table" style="font-size: 85%;">
<tr>
    <td width="33%" style="text-align: center;">
        <p><i class="fas fa-user-graduate" style="font-size: 500%;"></i></p>
        <br>
        <p><b>Students</b></p>
        <p class="left-align">Students can quickly get started and learn about key concepts of brainimage data analysis. Brainlife can lower technical barriers that
            often impede an effective learning process.</p>
    </td>
    <td width="33%" style="text-align: center;">
        <p><i class="fas fa-code" style="font-size: 68px;"></i></p>
        <br>
        <p><b>Computer Scientists</b></p>
        <p class="left-align">Computer scientists and engineers can focus on developing new algorithms and new computing methods without having 
          to learn the entire neuroimaging preprocessing steps.</p>
    </td>
    <td width="33%" style="text-align: center;">
        <p><i class="fas fa-desktop" style="font-size: 500%;"></i></p>
        <br>
        <p><b>Data Scientists</b></p>
        <p class="left-align">Statisticians and data scientists can use available datasets and data derivatives to gather new insights 
            into individuality and variability in human populations.</p>
    </td>
</tr>
</table>
<br>

<div id="map"></div>


<center><p class="heading-quote">~350 users across 250 institutions / universities.</p></center>
<br>

<p style="opacity: 0.8; background-color: #ddd; padding: 20px;font-size:16px !important;line-height:26px">
    <i class="fas fa-quote-left" style="font-size: 150%;"></i>&nbsp;&nbsp;
    <i>
        <!--"Brainlife is a tremendous platform! Congratulations on this project. It seems to be of tremendous potential to outreach the scientific community and disseminate knowledge, standardize methods and educate the community in doing comprehensive brain research. Tatiana Wolfe, The Ohio State University." -->
        The Brainlife platform is phenomenal. A great idea, great execution. It reminds me of Wikipedia when it started… now it is essential to almost everyone. - <b>Tatiana Wolfe, The Ohio State University.</b>
    </i>
</p>

