<!DOCTYPE html>
<html lang="en-us">
  {{ partial "head.html" . }}
  <body style="line-height: 180%;">
    <script>0</script>

    {{ partial "landing_banner.html" .}}
    <div class="main-content overflow" id="main-content" style="margin-top:250px;z-index: 10;">
      
      <div style="background: white">
        {{partial "landingabout.html" .}}
      </div>
      
        {{partial "landing-everyone.html" .}}
        {{partial "landing.mission.html" .}}
        {{partial "landing.sponsor.html" .}}
        {{partial "landing.start.html" .}}
        {{ partial "footer.html" . }}
    </div>

    <!-- {% partial analytics.html %} -->
    {{ partial "js.html" . }}
  </body>
</html>